@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@600;700&display=swap');

  .sticky {
    position: fixed;
    top: 0;
    /* width: 100%; */
  }
  
  .header {
    top: 0;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    font-family: Lato, sans-serif;
    width: 100vw;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header  {
    display: block;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background:#51686D;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 20px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #51686D;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }


body, html{
  width: 100%;
  height: 100vh;
  background-color: #E5E5E5;
  margin: 0;
  font-family: Lato, sans-serif;
}

h1{
  position: absolute;
  left: 70%;
  color: #51586D;
  z-index: 999;
  font-size: clamp(25px, 5vw, 48px);
  font-family: Oswald, sans-serif;

}

.imagedeParis{
  max-width: 100%;
  /* height: 700px; */
  position: relative;
}

.bonplanstitle{
  display: flex;
  justify-content: center; 
}

.NosBonsPLans{
  display: flex;

}

.bon-plans-h2{
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: clamp(18px, 5vw, 25px) !important;

}

.logo1{
  width: 83px;
  height: 83px;
  margin-top: 45px;
}

.image{
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

}

.bonsplans2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px 60px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.bonplans3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px 60px;
  margin-bottom: 25px;
}

.voyage img {
  max-width: 100%;
  /* margin : 0px 30px 0px; */
}

.lasttitles{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 60px;
}

.image1{
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.lasttips{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap : 60px;
}

.logo2{
  width: 83px;
  height: 83px;
  margin-top: 10px;
}

p{
  text-align: center;
}

h3{
  text-align: center;
}

/* Formulaire de contact */

.my-form{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.my-form-container{
  display: flex;
  width: 1060px;
  height: 350px;
  border: 1px black solid;
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 10px;
  border-radius: 8px;
}

.my-form-image{
  width: 70%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30% 70%;
  grid-template-areas: 
  "High1 High1"
  "Low1 Low2";
  
}

.my-form p{
  grid-area: High1;
  font-size: 20px;
  font-style: italic;
  color: #51586D;
  text-align: start;
  margin-left: 6%;

}

.my-form-image img {
  transform: translate(-100px, -20px);
}

.Contact-Us{
  margin:auto;
  grid-area: Low2;
}

.my-form-ul-container {
  margin-right: 6%;
  color: #51586D;
}

li{
  list-style: none;

}

input {
  display: flex;
  width: 400px;
  height: 20px;
  background-color: #E9E4E0;
  /* border-style: solid ; */
  /* border-radius: 5% ; */
}

label {

}


textarea {
  width: 400px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid black;
  resize: none;
  background-color: #E9E4E0;

}

.favorite {
 
  line-height: 2;
  padding: 0 20px;
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #51686D;
  /* background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0)); */
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.favorite:hover {
  background-color: rgba(255, 0, 0, 1);
}

.favorite :active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/* FOOTER */

.my-footer{
background-color:#d4d0cd;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
width: 100%;
text-align: left;
padding: 45px 50px;
}

.my-footer .footer-left p {
  margin: 0;
}

.my-footer p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.my-footer p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.my-footer .footer-links a::before{
  content: "·";
  font-size: 20px;
  left: 0;
  color: black;
  display: inline-block;
  padding-right: 5px;
}

.my-footer .footer-links .link-1:before {
  content: none;
}

.my-footer .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.my-footer .footer-right a:hover{
  transform:scale(1.1); -webkit-transform:scale(1.1);
}

.my-footer p.footer-links a:hover{
  text-decoration:underline;
}

@media (max-width: 600px) {
  .my-footer .footer-left, .footer-right {
    text-align: center;
  }
  .my-footer .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .my-footer .footer-left p.footer-links {
    line-height: 1.8;
  }
}

/* Test Ancre pour remonter en haut de page */

#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
}
#scroll_to_top img {
  width: 25px;
}


	