.main-title {
    text-align: center;
    font-size: 110%;
    font-weight: 100;
    color: blue;
}

.effectiveday {
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    color: black;
    }

.titreCGU1 {
    font-size: 120%;
    font-weight: bold;
    color: blue;  
}

.titreCGU2 {
    font-size: 120%;
    font-weight: bold;
    color: blue;  
}

.titreCGU3 {
    font-size: 120%;
    font-weight: bold;
    color: blue;  
}

.titreCGU4 {
    font-size: 120%;
    font-weight: bold;
    color: blue;  
}

.titreCGU5 {
    font-size: 120%;
    font-weight: bold;
    color: blue;  
}

.titreCGU6 {
    font-size: 120%;
    font-weight: bold;
    color: blue;  
}

.titreCGU7 {
    font-size: 120%;
    font-weight: bold;
    color: blue;  
}

.titreCGU8 {
    font-size: 120%;
    font-weight: bold;
    color: blue;  
}

.titreCGU9 {
    font-size: 120%;
    font-weight: bold;
    color: blue;  
}

.my-footer{
    background-color:#d4d0cd;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 45px 50px;
    }
    
    .my-footer .footer-left p {
      margin: 0;
    }
    
    .my-footer p.footer-links {
      font-size: 18px;
      font-weight: bold;
      color: black;
      margin: 0 0 10px;
      padding: 0;
      transition: ease .25s;
    }
    
    .my-footer p.footer-links a {
      display: inline-block;
      line-height: 1.8;
      text-decoration: none;
      color: inherit;
      transition: ease .25s;
    }
    
    .my-footer .footer-links a::before{
      content: "·";
      font-size: 20px;
      left: 0;
      color: black;
      display: inline-block;
      padding-right: 5px;
    }
    
    .my-footer .footer-links .link-1:before {
      content: none;
    }
    
    .my-footer .footer-right {
      float: right;
      margin-top: 6px;
      max-width: 180px;
    }
    
    .my-footer .footer-right a:hover{
      transform:scale(1.1); -webkit-transform:scale(1.1);
    }
    
    .my-footer p.footer-links a:hover{
      text-decoration:underline;
    }
    
    @media (max-width: 600px) {
      .my-footer .footer-left, .footer-right {
        text-align: center;
      }
      .my-footer .footer-right {
        float: none;
        margin: 0 auto 20px;
      }
      .my-footer .footer-left p.footer-links {
        line-height: 1.8;
      }
    }
}