* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    color : #51686D;
    background-color: #D5D7D8;
}


  /* HEADER */
  
  .sticky {
    position: fixed;
    top: 0;
    /* width: 100%; */
  }
  
  .header {
    top: 0;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    font-family: Lato, sans-serif;
    width: 100vw;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }

  a {
    color: #51686D;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header  {
    display: block;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background:#51686D;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 20px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #51686D;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }


  /* 1ere SECTION */

.crew {
    text-align: center;
    min-width: 100%;
    margin-top: 60px;
}

.first {
    max-width: 100%;
}

h1 {
    font-family : Oswald, sans-serif;
    font-size: clamp(25px, 5vw, 48px);
    position: absolute;
    left: 70%; 
        
}

/* Texte défilant  */
.marquee-rtl {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
   }

.marquee-rtl > :first-child {
    background-color: #E9E4E0;
    display: inline-block; /* modèle de boîte en ligne */
    padding-right: 2em; /* un peu d'espace pour la transition*/

    white-space: nowrap;  /*pas de passage à la ligne */
    animation: defilement-rtl 10s infinite linear;}

    @keyframes defilement-rtl {     
        0% { transform: translate3d(100%,0,4); }  /*position initiale à droite */      
        100% { transform: translate3d(-100%,0,0);  /*position finale à gauche */  }
     }

 .hashtagDefile:after {
    content:attr(data-text);
    background-color: #E9E4E0;
    position:absolute;
    white-space:nowrap;
    padding-left:10px;
}


/* div photo de nous+description */

.nous {
    margin: auto;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 60px;
}

.team {
    /* border: 1px solid black; */
    display : grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;    
    font-size:25px;
    margin : 50px 0px 0px 0px;
   
}

.speach {
    padding-top: 50px
}

.speach p {
  font-style: italic;
  margin: 20px;

}

.logoPage3 {
     transform : translate(700px, -200px); 
}

/* section streetfigther */

.Perso{
    width: 400px;
    
}

.topoDavid, .topoMehdi, .topoAnneLaure, .topoBenoit, .topoPaulE{
   /* margin-left: 35%; */
}

.topoDavid p, .topoMehdi p, .topoAnneLaure p, .topoBenoit p, .topoPaulE p{
    font-style: italic;
    text-align : justify;
    font-size: 18px;
    padding: 10px;
    /* border: 1px solid black; */
    
}

.prénom {
    font-size: 20px;
    text-align: end !important;
    transform: translate(0px, -30px);
    color:black;
    
}

.reseau {
    display:flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.streetfighter {
    margin-top: 50px;
   
}

.avatars3 {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
    gap: 40px;


}

.avatars2 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
    gap: 40px;
}


.David {
    border-radius: 50%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    height: 332px;
    width:332px;
    background: url("/images/Group44.png");
    transition: all 1s ease-in-out;
}
.David:hover {
    transition: all 1s ease-in-out;
    background: url("/images/ken2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Mehdi {
    border-radius: 50%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    height: 332px;
    width:332px;
    background: url("/images/Group42.png");
    transition: all 1s ease-in-out; 
}

.Mehdi:hover {
    background: url("/images/ryu2.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease-in-out;
}

.AnneLaure {
    border-radius: 50%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    height: 332px;
    width:332px;
    background-repeat: no-repeat;
    background-size: cover;
    background: url("/images/Group43.png");
    /* transition: all 1s ease-in-out; */
}
.AnneLaure:hover {
    background: url("/images/chunLi2.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease-in-out;
}

.Benoit {
    border-radius: 50%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    height: 332px;
    width:332px;
    background: url("/images/Group41.png");
    transition: all 1s ease-in-out;
}
.Benoit:hover {
    background: url("/images/sagat2.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease-in-out;
}

.PaulE {
    border-radius: 50%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    height: 332px;
    width:332px;
    background: url("/images/Group45.png");
    transition: all 1s ease-in-out;
}
.PaulE:hover {
    background: url("/images/bison2.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease-in-out;
}



@media (max-width: 900px) {

 h1 {
    position: absolute;
    left: 60%; 
    top: 15%;
 }   
  
.team { 
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;   
    font-size: 18px;
    /* margin : 50px 10px 0px 15px; */

}

.nous {
    width:90%;

}

  .logoPage3 {
  display:none;
}

.topoDavid, .topoMehdi, .topoAnneLaure, .topoBenoit, .topoPaulE{
    margin-left: 0;
    padding: 10px;
 }



.speach {
    padding: 50px 20px 0px;
}

.prénom {
    font-size: 20px;
    text-align: end !important;
    transform: translate(0px, -30px);
    color:black;
    padding: 10px;
}
}

@media (max-width: 768px) {
    .header {
        top: 0;
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
        font-family: Lato, sans-serif;
        width: 100%;
        z-index: 3;
      }

    .speach p{
        margin: 80px ;
        text-align: center;
    }

    .nous {
        margin: auto;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
        border-radius: 105px;
        width: 70%
    }

    .logoPage3 {
        display:none;
    }

    .first {
        width:80%;
    }

    .David, .AnneLaure, .Mehdi, .PaulE, .Benoit {
      margin:auto;
    }

    
}

.my-footer{
  background-color:#d4d0cd;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 45px 50px;
  }
  
  .my-footer .footer-left p {
    margin: 0;
  }
  
  .my-footer p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .my-footer p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .my-footer .footer-links a::before{
    content: "·";
    font-size: 20px;
    left: 0;
    color: black;
    display: inline-block;
    padding-right: 5px;
  }
  
  .my-footer .footer-links .link-1:before {
    content: none;
  }
  
  .my-footer .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .my-footer .footer-right a:hover{
    transform:scale(1.1); -webkit-transform:scale(1.1);
  }
  
  .my-footer p.footer-links a:hover{
    text-decoration:underline;
  }
  
  @media (max-width: 600px) {
    .my-footer .footer-left, .footer-right {
      text-align: center;
    }
    .my-footer .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .my-footer .footer-left p.footer-links {
      line-height: 1.8;
    }
  }
  

@media (max-width: 425px) {

  .speach p{
    margin: 30px ;
}

.streetfighter {
  margin-top: 70px;
 
}

}


@media (min-width: 768px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  
  
  .active {
    background-color: #e9e4e0;
  }
  
  div {
    width: 100%;
    /* height: 50px; */
  }

}


  
